





<div class="dx-box-5 pb-100 bg-grey-6">
    <div class="container">
        <div class="row vertical-gap md-gap">
            <div class="col-lg-8">
                <div class="dx-box dx-box-decorated">
                    <div class="dx-blog-post">
                        <div class="dx-blog-post-box pt-30 pb-30">
                            <h2 class="h4 mnt-5 mb-8">Browse Article Categories</h2>


                            <!-- START: Breadcrumbs -->
                            <ul class="dx-breadcrumbs text-left dx-breadcrumbs-dark mnb-8">

                                <li><a asp-action="HelpCenter" asp-controller="Home">Support Home</a></li>

                                <li>Articles</li>


                            </ul>
                            <!-- END: Breadcrumbs -->

                        </div>



                        <div class="dx-separator"></div>
                        <div class="dx-blog-post-box">
                            <div class="row vertical-gap lg-gap">
                                @foreach (var item in ViewBag.Categories)
                                {


                                    <div class="col-sm-6">

                                        <div class="dx-article dx-article-list">
                                            <h3 class="h6 dx-article-title">@item</h3>
                                            @await Component.InvokeAsync("ExampleArticles", item)
                                        </div>

                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="dx-sticky dx-sidebar" data-sticky-offsetTop="120" data-sticky-offsetBot="40">




                    <div class="dx-widget dx-box dx-box-decorated">
                        <form action="#" class="dx-form dx-form-group-inputs">
                            <input type="text" name="" value="" class="form-control form-control-style-2" placeholder="Search...">
                            <button class="dx-btn dx-btn-lg dx-btn-grey dx-btn-grey-style-2 dx-btn-icon"><span class="icon fas fa-search"></span></button>
                        </form>
                    </div>


                    <div class="dx-widget dx-box dx-box-decorated">
                        <div class="dx-widget-title">Articles Categories</div>
                        @await Component.InvokeAsync("ArticlesCategories")
                    </div>







                </div>
            </div>
        </div>
    </div>
</div>

 