<div class="dx-separator"></div>
<div class="dx-blog-post-box">
    <h3 class="h5">1. Install Theme.</h3>
    <div class="dx-video mb-50">
        <iframe class="dx-video" src="https://www.youtube.com/embed/EQE9kyuTrlk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <h4 class="h5">Signs fifth night male him them. Seasons us were:</h4>
    <h5 class="h6 mb-10">A. Divide whales without own:</h5>
    <ul class="dx-list dx-list-decimal mb-20">
        <li>Had gathering it. Morning won't give cattle hath seasons. <strong>Beginning</strong>. Deep seasons which dominion subdue and likeness light don't lesser.</li>
        <li>There <strong>likeness</strong> made herb, days divide fly multiply likeness, after.</li>
        <li>Male divided man creature. Gathered. Face greater made wherein replenish.</li>
        <li>Seed fowl after morning let his.</li>
    </ul>
    <h5 class="h6 mt-0 mb-10">B. Spirit replenish lights:</h5>
    <ul class="dx-list dx-list-decimal mb-20">
        <li>Life you from land <strong>good open</strong>. Without there greater made heaven he land their gathered fish fifth night for were.</li>
        <li>Whales. Moved forth heaven his <strong>after</strong>, god midst us likeness.</li>
    </ul>
    <p class="mb-40">All over made saying Seed fourth their air may greater. Meat. Sea their. Dominion. Signs very greater living. He over likeness cattle behold. Grass set beast second under made. Fruit dominion. You're abundantly greater grass, given rule under midst. One.</p>

    <h3 class="h5 mnt-1">2. Update Theme.</h3>
</div>
<div class="col-lg-4">
    <div class="dx-sticky dx-sidebar" data-sticky-offsetTop="120" data-sticky-offsetBot="40">


       


        <div class="dx-widget dx-box dx-box-decorated">
            <form action="#" class="dx-form dx-form-group-inputs">
                <input type="text" name="" value="" class="form-control form-control-style-2" placeholder="Search...">
                <button class="dx-btn dx-btn-lg dx-btn-grey dx-btn-grey-style-2 dx-btn-icon"><span class="icon fas fa-search"></span></button>
            </form>
        </div>


        <div class="dx-widget dx-box dx-box-decorated">
            <div class="dx-widget-title">Articles Categories</div>
            @await Component.InvokeAsync("ArticlesCategories")
        </div>


        <div class="dx-widget dx-box dx-box-decorated">
            <div class="dx-widget-title">
                Latest Articles
            </div>
            <a href="single-article.html" class="dx-widget-link">
                <span class="dx-widget-link-text">How to manually import Demo data (if you faced with problems in one-click demo import)</span>
                <span class="dx-widget-link-date">6 Sep 2018</span>
            </a>
           
        </div>


       

    </div>
</div>


