<div class="dx-widget-portfolio">




    @foreach (var item in ViewBag.LatestArticles)
    {
        <a asp-action="singleArticleInfo" asp-controller="KnowledgeBase" asp-route-refId=@item.ArticleId>@item.Title</a>
    }

</div>