@model Entities.Entities.Ticket

@{ Layout = null;}
<div class="modal fade" id="closeTicket">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">


            <div class="modal-header">
                <span ><b>Close Ticket #@Model.ticketId</b> </span>
                <button type="button" class="close" data-dismiss="modal">x</button>
            </div>


            <div class="modal-body">


                <div class="dx-box-content">
                    <h3>Are you sure you want to close ticket: @Model.ticketTitle ?</h3>

                </div>



                <div style="display:flex;justify-content:flex-end;">
                    <form asp-action="close" asp-controller="Tickets">
                        <input type="hidden" name="ticketId" asp-for="ticketId" />
                        <button type="submit" class="btn btn-danger" data-save="modal"><i class="fas fa-lock"></i>&nbsp;Yes</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="far fa-times-circle"></i>&nbsp;Cancel</button>
                    </form>
                </div>

            </div>

        </div>


    </div>

</div>


