



<div class="dx-separator mb-10"></div>

<a href="#" class="dx-comment-file dx-comment-file-jpg">
    <span class="dx-comment-file-img"><img src="~/Content/images/icon-jpg.svg" alt="img" width="36"></span>
    <span class="dx-comment-file-name">@ViewBag.fileName</span>
    <span class="dx-comment-file-size">@ViewBag.fileSize MB</span>
    <span class="dx-comment-file-icon"><span class="icon pe-7s-download"></span></span>
</a>