@*@{Layout = "~/Views/Shared/_normalLayout.cshtml";}
*@

@{Layout = null;}

<script src="/Content/lib/isotope-layout/dist/isotope.pkgd.min.js"></script>

<div class="modal fade" id="addProduct">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Product</h4>
                <button type="button" class="close" data-dismiss="modal">x</button>

            </div>

            <div class="modal-body">

                <div class="dx-isotope-container">
                    <input type="text" />

                    <div class="dx-box bg-white">
                        <div class="container">
                            <ul class="dx-links dx-isotope-filter text-center">
                                <li class="active" data-filter="*">All Items</li>
                                <li data-filter=".info">info</li>
                                <li data-filter=".stylo">stylo</li>
                                <li data-filter=".smart_phone">smart phone</li>
                            </ul>
                        </div>
                    </div>

                    <div class="dx-separator"></div>

                    <div class="dx-box-5 pb-100 bg-grey-6">
                        <div class="container  ">

                            <div class="row vertical-gap dx-isotope-grid">

                                @foreach (var item in ViewBag.ListProducts)
                                {

                                    <div class="col-12 col-md-6 col-lg-4 dx-isotope-grid-item @item.category">

                                        <div class="dx-portfolio-item dx-block-decorated">
                                            <div class="dx-portfolio-item-image">

                                                <img src=@Url.Content(item.imgUrl) alt="Product img">
                                            </div>
                                            <a asp-action="afectTheProduct" asp-controller="Admin" asp-route-client=@ViewBag.ClientEmail asp-route-refProd=@item.refId class="dx-portfolio-item-info">
                                                <span class="dx-portfolio-item-title">@item.name</span>

                                            </a>
                                        </div>

                                    </div>
                                }



                            </div>

                        </div>
                    </div>



                </div>
            </div>


        </div>

    </div>
</div>