

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@model Entities.Entities.User

<div class="dx-box-decorated">

    <form asp-action="settings" asp-controller="Admin" method="post" class="dx-form">
        <div class="dx-box-content">
            <table cellpadding="3px">

                <tr>
                    <td><label asp-for="FirstName" class="mnt-7"></label></td>
                    <td>
                        <input type="text" asp-for="FirstName" class="form-control form-control-style-2" id="first-name" value=@Model.FirstName>
                    </td>
                </tr>

                <tr>
                    <td><label asp-for="LastName" class="mnt-7"></label></td>
                    <td>
                        <input type="text" asp-for="LastName" class="form-control form-control-style-2" id="last-name" value=@Model.LastName>
                    </td>
                </tr>

                <tr>
                    <td><label asp-for="Email" class="mnt-7"></label></td>
                    <td>
                        <input type="email" aria-describedby="emailHelp" asp-for="Email" class="form-control form-control-style-2" id="email-address" value=@Model.Email>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="Phone" class="mnt-7"></label></td>
                    <td>
                        <input type="text" asp-for="Phone" class="form-control form-control-style-2" id="zip" value=@Model.Phone>
                    </td>
                </tr>
                <tr>
                    <td> <label asp-for="HomeAdresse" class="mnt-7"></label></td>
                    <td>
                        <input type="text" asp-for="HomeAdresse" class="form-control form-control-style-2" id="city" value=@Model.HomeAdresse>
                        <input type="hidden" asp-for="Id" class="form-control form-control-style-2" id="city" value=@Model.Id>
                    </td>
                </tr>
                <tr>
                    <td>
                    <td></td>
                    <td>
                        <button type="submit" class="dx-btn-dark dx-btn-xl dx-btn-block">@localizer["Save_Changes"]</button>
                    </td>
                    </td>
                </tr>



            </table>

        </div>
    </form>


</div>