
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer


@{Layout = null;}

<script>

    $(function () {
        $('#afectBtn').submit(function (e) {
            e.preventDefault();
            // Coding
            $('#addProduct').modal('hide');
            return false;
        });

    })
</script>

<div class="modal fade" id="addProduct">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@localizer["afectProduct"]</h4>
                <button type="button" class="close" data-dismiss="modal">x</button>

            </div>

            <div class="modal-body">

                <div class="dx-isotope-container">
                    <input type="text" />

                    <div class="dx-box bg-white">
                        <div class="container">
                            <ul class="dx-links dx-isotope-filter text-center">
                                <li class="active" data-filter="*">All Items</li>
                                @foreach (var item in ViewBag.Categories)
                                {
                                    <li data-filter=".@item.categoryName">@item.categoryName</li>
                                }
                            </ul>
                        </div>
                    </div>

                    <div class="dx-separator"></div>

                    <div class="dx-box-5 pb-100 bg-grey-6">
                        <div class="container  ">

                            <div class="row vertical-gap dx-isotope-grid">

                                @foreach (var item in ViewBag.ListProducts)
                                                                {

                                <div class="col-12 col-md-6 col-lg-4 dx-isotope-grid-item @item.category">

                                    <div class="dx-portfolio-item dx-block-decorated">
                                        <div class="dx-portfolio-item-image">

                                            <img src=@Url.Content(item.imgUrl) alt="Product img">
                                        </div>
                                        <a id="afectBtn" asp-action="afectTheProduct" asp-controller="Admin"
                                           asp-route-client=@ViewBag.ClientEmail asp-route-refProd=@item.refId
                                           class="dx-portfolio-item-info" data-toggle=modal>
                                            <span class="dx-portfolio-item-title">@item.name</span>

                                        </a>
                                    </div>

                                </div>
                            }



                            </div>

                        </div>
                    </div>



                </div>
            </div>


        </div>

    </div>
</div>