



@model Entities.Entities.Ticket;


@{ Layout = null;}


<div class="modal fade " id="assignTicket">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <span>assign ticket</span>
                <a data-dismiss="modal" class="close">x</a>

            </div>

            <div class="modal-body">

               <h3>assign ticket :</h3> <h1>#@Model.ticketId @Model.ticketTitle </h1>
                <h3>To Agent:</h3>
                <form asp-action="assignTicket" asp-controller="Agent" method="post">
                   

                    <div  class="dx-form-group">
                        <input name="ticketId" type="hidden" value="@Model.ticketId" />
                        <select name="AgentId" class="form-control dx-select-ticket">

                            @foreach (var item in ViewBag.AgentList)
                            {

                            <option value=@item.Id data-content='<img src=@Url.Content(item.ThumbUrl) alt="sdfkdj"> '>@item.FirstName @item.LastName</option>

                            }


                        </select>
                    </div>

                    
                        <div class="dx-box-content" style="justify-content:space-between; display:flex;">

                            <button data-dismiss="modal" class="btn btn-outline-danger btn-sm  ">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-sm  ">Save Changes</button>

                        </div>
                    


                </form>

            </div>

        </div>
    </div>
</div>