


<span class="dx-nav-signin-img"><img src="@Url.Content(ViewBag.avatar)" alt="img"  /></span>

@*<span class="dx-ticket-img"><img src="@Url.Content(item.imgUrl)" alt="itemimg" /></span>
*@
<span class="dx-nav-signin-name">@ViewBag.userLoged</span>

