
<header class="dx-header dx-box-4">
    <div class="bg-image bg-image-parallax">
        <img src="/wwwroot/Content/images/bg-header.png" class="jarallax-img" alt="">
        <div style="background-color: rgb(0, 0, 0,0.85);"></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <h1 class="display-3 text-white">NST-Desk</h1>
                <p class="lead text-1">
                    NST-desk is a web application that enables our clients to obtain their preferred products while receiving an after-sales services.
                    Because the client is our main priority at NST-desk, we offer an after-sales service in which a team of qualified agents is available to address your concerns.
                <a asp-action="ProductDisplay" asp-controller="Products" class="dx-btn dx-btn-lg mt-10">View Products</a>
            </div>
        </div>
    </div>
</header>



<div class="dx-box-1">
    <div class="container">
        <div class="row vertical-gap lg-gap">
            <div class="col-lg-4">


                <div class="dx-feature dx-feature-1">
                    <div class="dx-feature-decorated"></div>
                    <div class="dx-feature-icon">
                        <span class="icon pe-7s-diamond"></span>
                    </div>
                    <div class="dx-feature-cont">
                        <div class="dx-feature-title">770 +</div>
                        <div class="dx-feature-text">Happy Customers</div>
                    </div>
                </div>


                <div class="dx-feature dx-feature-1">
                    <div class="dx-feature-decorated"></div>
                    <div class="dx-feature-icon">
                        <span class="icon pe-7s-like"></span>
                    </div>
                    <div class="dx-feature-cont">
                        <div class="dx-feature-title">4.9</div>
                        <div class="dx-feature-text">Author Rating</div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <h2>Who we are</h2>
                <p class="mb-0">
                    We love our work and it shows. A motivated young team formed mainly by computer engineers,
                    we know this environment like the back of our hand.
                    We are ready to take on any challenge and we are 100% involved in all the projects we undertake.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="dx-box-1 bg-dark-1">
    <div class="container">
        <div class="row mnt-40 mnb-40">

            <div class="col-12 col-md-6 col-lg-4">

                <div class="dx-feature dx-feature-2">
                    <div class="dx-feature-cont">
                        <div class="dx-feature-icon">
                            <span class="icon pe-7s-edit"></span>
                        </div>
                        <div class="dx-feature-title">Easy Setup</div>
                        <div class="dx-feature-text">We make our products easy to setup and customize.</div>
                    </div>
                    <span class="dx-decorated" style="background-image: url('C:\Users\worrior107\source\repos\HelpDeskApp\HelpDesk\wwwroot\Content\images\decorated-pattern-dark.svg')"></span>
                </div>

            </div>

            <div class="col-12 col-md-6 col-lg-4">

                <div class="dx-feature dx-feature-2">
                    <div class="dx-feature-cont">
                        <div class="dx-feature-icon">
                            <span class="icon pe-7s-timer"></span>
                        </div>
                        <div class="dx-feature-title">Lifetime Updates</div>
                        <div class="dx-feature-text">We improve our products after release and you will get it for free.</div>
                    </div>
                    <span class="dx-decorated" style="background-image: url('../../wwwroot/Content/images/decorated_pattern_dark.svg');"></span>
                </div>

            </div>


            <div class="col-12 col-md-6 col-lg-4">

                <div class="dx-feature dx-feature-2">
                    <div class="dx-feature-cont">
                        <div class="dx-feature-icon">
                            <span class="icon pe-7s-headphones"></span>
                        </div>
                        <div class="dx-feature-title">Outstanding Support</div>
                        <div class="dx-feature-text">We provide fast and professional support through support system.</div>
                    </div>
                    <span class="dx-decorated" style="background-image: url('../../wwwroot/Content/images/decorated_pattern_dark.svg');"></span>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="dx-box-1 bg-grey-6">
    <div class="container">
        <h2 class="text-center mb-60">Latest Products</h2>

        <div class="row vertical-gap">
            @foreach (var item in ViewBag.latestProduct)
            {


                <div class="col-12 col-md-6 col-lg-4">

                    <div class="dx-portfolio-item dx-block-decorated">
                        <div class="dx-portfolio-item-image">
                            <div class="dx-portfolio-item-overlay" style="background-color: rgba(27, 27, 27, .8);">
                                <a href="#" class="dx-btn dx-btn-md dx-btn-transparent-style-2 m-10">Live Demo</a>
                                <a href="#" class="dx-btn dx-btn-md dx-btn-transparent-style-2 m-10">Buy Now</a>
                            </div>
                            <img src=@Url.Content(item.imgUrl) alt="Product Img">
                        </div>
                        <a asp-action="ProductDetail" asp-controller="Products" asp-route-refId=@item.refId class="dx-portfolio-item-info">
                            <span class="dx-portfolio-item-title">@item.name</span>

                            <span class="dx-portfolio-item-price">$@item.price</span>

                        </a>
                    </div>

                </div>

            }
        </div>
        <div class="text-center mt-70">
            <a asp-action="ProductDisplay" asp-controller="Products" class="dx-btn dx-btn-lg">View Products</a>
        </div>

        <div class="dx-box-1">
            <span class="dx-decorated" style="background-image: url('../../wwwroot/Content/images/decorated-pattern-light.svg');"></span>
        </div>

        <h2 class="text-center mb-40">Reviews</h2>

    </div>
</div>
<div class="row no-gutters">
    @* <div class="col-lg-6 bg-dark-1">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <div class="container">
                        <div class="dx-box-1">
                            <h2 class="text-white">Latest Products</h2>
                            <p class="text-2">Join the newsletter to receive news, updates, new products and freebies in your inbox.</p>
                            <a data-fancybox data-touch="false" data-src="#subscribe" href="javascript:;" class="dx-btn dx-btn-lg dx-btn-transparent">Subscribe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <div class="col-lg-12 bg-main-1">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="container">
                    <div class="dx-box-1">
                        <h2 class="text-white">Visit our Support Desk</h2>
                        <p class="text-white op-8">We have a Support Desk for our users and a well experienced team to quickly answer your questions.</p>
                        <a asp-action="HelpCenter" asp-controller="Home" class="dx-btn dx-btn-lg dx-btn-transparent">Get support</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
