
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@model HelpDesk.Models.LogUser

@{
    Layout ="~/Views/Shared/_normalLayout.cshtml";
}



    <div style="top:50%;left:50%">
        <div class="dx-popup-content dx-signin text-center">
            <h1 class="h3 text-white mb-30">@localizer["Reset_my_password"]</h1>

            <form action="#" class="dx-form">
                <div class="dx-form-group-md">
                    <input type="text" asp-for="Email" class="form-control form-control-style-4" placeholder="@Html.DisplayNameFor(m=>m.Email)">

                    <span asp-validation-for="Email" class="text-danger"></span>
                </div> 
                <div class="dx-form-group-md">
                    <button class="dx-btn dx-btn-block dx-btn-popup">@localizer["Reset_my_password"]</button>
                </div>
            </form>
        </div>


    </div>

