@model Entities.Entities.Product

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Edit";
}

<div class="modal fade" id="smt">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Product</h4>
                <button type="button" class="close" data-dismiss="modal">x</button>

            </div>


            <div class="modal-body">


                <div class="dx-box-decorated">

                    <form  enctype="multipart/form-data" asp-action="Edit" asp-controller="Products" method="post" class="dx-form">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="dx-box-content">
                            <table cellpadding="3px">

                                <tr>
                                    <td><label asp-for="name" class="mnt-7"></label></td>
                                    <td>
                                        <input type="text" asp-for="name" class="form-control form-control-style-2" id="first-name">
                                    </td>
                                </tr>
                                <tr><td><span asp-validation-for="name" class="text-danger"></span></td></tr>
                                <tr>
                                    <td><label asp-for="description" class="mnt-7"></label></td>
                                    <td>
                                        <input type="text" asp-for="description" class="form-control form-control-style-2" id="last-name">
                                    </td>
                                </tr>
                                <tr><td><span asp-validation-for="description" class="text-danger"></span></td></tr>
                                <tr>
                                    <td><label asp-for="factoryName" class="mnt-7"></label></td>
                                    <td>
                                        <input type="text" asp-for="factoryName" class="form-control form-control-style-2" id="email-address">
                                    </td>
                                </tr>
                                <tr><td><span asp-validation-for="factoryName" class="text-danger"></span></td></tr>
                                <tr>
                                    <td> <label asp-for="dateBuild" class="mnt-7"></label></td>
                                    <td>
                                        <input type="date" asp-for="dateBuild" class="form-control form-control-style-2" id="zip">
                                    </td>
                                </tr>
                                <tr><td><span asp-validation-for="dateBuild" class="text-danger"></span></td></tr>
                                <tr>
                                    <td><label asp-for="dateValidate" class="mnt-7"></label></td>
                                    <td>
                                        <input type="date" asp-for="dateValidate" class="form-control form-control-style-2" id="city">
                                    </td>
                                </tr>
                                <tr><td><span asp-validation-for="dateValidate" class="text-danger"></span></td></tr>
                                <tr>
                                    <td> <label asp-for="productCategory" class="mnt-7"></label></td>
                                    <td>
                                        @Html.DropDownListFor(model => model.categoryID, ViewBag.categories as SelectList, new { @class = "form-control dx-select-ticket" })

                                        <input type="hidden" asp-for="refId" class="form-control form-control-style-2" id="city">

                                    </td>
                                </tr>
 

                                <tr>
                                    <td colspan="2">
                                        <input type="file" asp-for="ImageFile" class="custom-file-input" />
                                    </td>
                                </tr>






                            </table>
                            <button type="submit" class="dx-btn-dark dx-btn-xl dx-btn-block">@localizer["Save_Changes"]</button>
                        </div>
                    </form>


                </div>















                @*
                    <div>
                        <div class="row">
                            <div class="col-md-4">
                                <form asp-action="Edit" asp-controller="Products">

                                    <input type="hidden" asp-for="refId" />
                                    <div class="form-group">
                                        <label asp-for="name" class="control-label"></label>
                                        <input asp-for="name" class="form-control" />
                                        <span asp-validation-for="name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="description" class="control-label"></label>
                                        <input asp-for="description" class="form-control" />
                                        <span asp-validation-for="description" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="factoryName" class="control-label"></label>
                                        <input asp-for="factoryName" class="form-control" />
                                        <span asp-validation-for="factoryName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="dateBuild" class="control-label"></label>
                                        <input type="date" asp-for="dateBuild" class="form-control" />
                                        <span asp-validation-for="dateBuild" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="dateValidate" class="control-label"></label>
                                        <input type="date" asp-for="dateValidate" class="form-control" />
                                        <span asp-validation-for="dateValidate" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="category" class="control-label"></label>
                                        <input asp-for="category" class="form-control" />
                                        <span asp-validation-for="category" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary" data-save="">Save</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">close</button>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>*@
            </div>


        </div>

    </div>


</div>