@model IEnumerable<Entities.Entities.Product>

<div class="dx-box-5 pb-100 bg-grey-6">
    <div class="container">



        <div class="row vertical-gap dx-isotope-grid">

            @foreach (var item in Model)
            {




                <div class="col-12 col-md-6 col-lg-4 dx-isotope-grid-item @item.productCategory.categoryName">

                    <div class="dx-portfolio-item dx-block-decorated">
                        <div class="dx-portfolio-item-image">
                            <div class="dx-portfolio-item-overlay" style="background-color: rgba(27, 27, 27, .8);">
                                <a href="#" class="dx-btn dx-btn-md dx-btn-transparent-style-2 m-10">Live Demo</a>
                                <a href="#" class="dx-btn dx-btn-md dx-btn-transparent-style-2 m-10">Buy Now</a>
                            </div>
                            <img src=@Url.Content(item.imgUrl) alt="Product img">
                        </div>
                        <a asp-action="ProductDetail" asp-controller="Products" asp-route-refid="@item.refId" class="dx-portfolio-item-info">
                            <span class="dx-portfolio-item-title">@item.name</span>

                            <span class="dx-portfolio-item-price">$@item.price</span>

                        </a>
                    </div>

                </div>
            }


</div>


            <div class="text-center mt-70">
                <a href="#" class="dx-btn dx-btn-grey dx-btn-lg dx-btn-load" data-btn-loaded="all products shown">Load More</a>
            </div>

        </div>
</div>